a {
	color: #267F99;
}

a:hover {
	color: #FF0000;
}

a:visited {
	color: #FF0000;
}

/* reset color for icon links */
a svg {
	color: #222;
}

/* reset color for menu links */
.menu a {
	color: #222;
}

.posts-list a {
	color: #222;
}

.posts-list a:hover {
	color: #FF0000;
}

.posts-list a:visited {
	color: #FF0000;
}

.dark-theme a {
	color: #9CDCFE;
}

.dark-theme a:hover {
	color: #4EC9B0;
}

.dark-theme a:visited {
	color: #4EC9B0;
}

/* reset color for icon links */
.dark-theme a svg {
	color: #a9a9b3;
}

/* reset color for menu links */
.dark-theme .menu a {
	color: #a9a9b3;
}

.tag a:link {
	text-decoration: none;
}



.content img {
	margin-left: auto;
	margin-right: auto;
}